/* Waybar Style
 * by DesktopCoder1407
 * vim:syntax=scss:tabstop=4:shiftwidth=4
 */

/* Colors */
@define-color background #2E3440;
@define-color background-alt #3B4252;
@define-color foreground #D8DEE9;
@define-color foreground-alt #ECEFF4;
@define-color accent-primary #88C0D0;
@define-color accent-primary-alt #8FBCBB;
@define-color accent-secondary #81A1C1;
@define-color accent-tertiary #5E81AC;

@define-color color-red #BF616A;
@define-color color-orange #D08770;
@define-color color-yellow #EBCB8B;
@define-color color-green #A3BE8C;
@define-color color-purple #B48EAD;

/* Full-bar CSS */
window#waybar {
	background-color: @background;
	color: @foreground;
	border: none;
	font-family: "FiraCode Nerd Font Propo";
	font-size: 12px;
	font-weight: bold;
}

tooltip {
	background-color: alpha(@background-alt, 0.9);
	border: 2px solid @accent-secondary;
	color: @foreground-alt;
	font-weight: bold;
}

.modules-left {
	padding-left: 4px;
}

.modules-right {
	padding-right: 10px;
}

/* Custom Accents */
#custom-dot {
	color: @accent-primary;
	padding: 0 4px;
}

#custom-dot-alt {
	color: @accent-primary-alt;
	padding: 0 4px;
}

#custom-left-arrw {
	color: @accent-primary-alt;
	font-size: 24px;
	padding: 0 4px;
}

/* Workspaces */
button:hover {
	background: none;
	box-shadow: none;
	text-shadow: none;
}

#workspaces button {
	background-color: @background-alt;
	color: @foreground;
	border: 2px solid @accent-tertiary;
	border-radius: 3px;
	margin: 5px 2px;
	padding: 0 9px;
	font-weight: bold;
}

#workspaces button.visible {
	background-color: @accent-tertiary;
}

#workspaces button.active {
	background-color: @accent-primary;
	color: @background-alt;
}

#workspaces button.urgent {
	background-color: @color-red;
}

#workspaces button:hover {
	background-color: @accent-tertiary;
	color: @foreground-alt;
	border-color: @accent-primary-alt;
}

/* Window */
#window {
	color: @accent-primary-alt;
	font-weight: bold;
}

/* Peripherial Box */
#peripherials {
	background-color: @background-alt;
	border: 2px solid @accent-tertiary;
	border-radius: 3px;
	padding: 0 4px;
	margin: 5px 0;
}

#network.icon,
#bluetooth,
#battery.icon,
#wireplumber.icon {
	color: @accent-primary;
	padding: 0 3px;
	font-size: 16px; 
}

.network_child,
.battery_child,
.audio_child {
	color: @accent-secondary;
}

#battery.icon.warning {
	color: @color-yellow;
}

#battery.icon.critical {
	color: @color-red;
}

/* Notifications */
#custom-notification {
	background-color: @background-alt;
	color: @accent-primary;
	border: 2px solid @accent-tertiary;
	border-radius: 3px;
	padding: 0 8px;
	margin: 5px 0;
}
