@import url('../../.cache/wal/colors-waybar.css');
@define-color color-border @color3;
@define-color color-tooltip alpha(@background, 0.75);
@define-color color-hover shade(@color-secondary, 0.35);
@define-color color-primary @color2;
@define-color color-secondary @color3;
@define-color color-accent @color1;

* {
    font-family: "FiraCode Nerd Font Propo";
    font-size: 16px;
    min-height: 0;
    padding: 0;
    border: none;
    border-radius: 0px;
    margin: 0;
}

window#waybar {
    background-color: @background;
}

/* TOOLTIPS */
tooltip {
    background-color: @color-tooltip;
    border: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: @color-border;
}

tooltip label {
    color: @foreground;
    margin: -1.5px 3px;
}

/* NOTIFICATION */
#custom-notification {
    color: @foreground;
    padding: 0 8px 0 12px;
}

#custom-notification:hover {
    background-color: @color-hover;
}

/* WORKSPACES */
#workspaces button {
    background-color: @color-primary;
    color: @foreground;
    padding: 0px 0.75em;
}

#workspaces button.empty {
    background-color: shade(@color-primary, 0.5);
}

#workspaces button.active {
    background-color: @color-accent;
}

#workspaces button:hover {
    background-color: @color-hover;
}

/* CLOCK */
#clock {
    color: @foreground;
    /*background-color: @color-primary;*/
    padding: 0px 4px;
}

/* RIGHT ITEMS */
#wireplumber,
#devices,
#tray,
#network {
    color: @foreground;
    background-color: @color-primary;
    padding: 0 0.4em;
    margin: 0 0.25em;
}

/* SUB ITEMS */

#devices * {
    padding: 0 6px;
}

#network *,
#tray * {
    padding: 0 2px;
}
