/* by DesktopCoder1407 */
@import url('../../.cache/wal/colors-waybar.css');
@define-color foreground #b9b9b9;
@define-color background #181818;

* {
	font-family: "FiraCode Nerd Font Propo";
	font-size: 16px;
	min-height: 0;
	padding: 0;
	border: none;
	border-radius: 0px;
	margin: 0;
}

window#waybar {
	background-color: @background;
}

/* TOOLTIPS */
tooltip {
	background-color: alpha(@background, .75);
	border: solid;
	border-width: 2px;
	border-radius: 8px;
	border-color: @color2;
}

tooltip label {
	color: @foreground;
	margin: -1.5px 3px;
}

/* WORKSPACES */
#workspaces button {
	background-color: alpha(@color1, 0.5);
	color: @foreground;
	border-radius: 25;
	padding: 0px 0.4em;
	margin: 0px 1px;
}

#workspaces button.active {
	background-color: @color1;
}

/* AUDIO PREVIEW */
#mpris {
	color: @foreground;
}

/* RIGHT INFO */
#tray,
#bluetooth,
#batttery,
#network,
#wireplumber {
	color: @foreground;
	background-color: @color1;
	border-radius: 4px;
	padding: 0 0.4em;
	margin: 0 0.25em;
}

#clock {
	color: @foreground;
	padding: 0px 1em;
}
